<template>
  <div class="relative">
    <form
      class="absolute z-20 flex flex-col justify-center max-w-sm px-10 py-10 space-y-3 bg-white shadow-lg md:shadow-none top-3/4 right-24 md:right-4 md:top-3 rounded-3xl"
    >
      <h1 class="text-2xl font-bold text-center text-purple-500">Ip address tracker</h1>
      <div
        class="flex flex-col px-5 py-3 mb-3 rounded-lg shadow-md sm:flex-row"
      >
        <input
          type="text"
          id='"form-subscribe-Subscribe'
          v-model="query"
          class="flex-1 w-full px-4 py-2 mr-2 text-base text-gray-700 placeholder-gray-400 bg-white border border-transparent border-gray-300 rounded-lg shadow-sm appearance-none focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
          placeholder="Ip..."
        />
        <button
          class="flex-shrink-0 px-4 py-2 mt-5 text-base font-semibold text-white bg-purple-500 rounded-lg shadow-md md:mt-0 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 focus:ring-offset-purple-200"
          type="submit"
          @click.prevent="getIpInfo"
        >
          Search
        </button>
      </div>
      <ip-info v-if="ipinfo" :ipinfo="ipinfo" />
    </form>
    <div class="z-10 w-screen h-screen" id="idMap"></div>
  </div>
</template>

<script>
import IpInfo from "@/components/IpInfo.vue";
import leaflet from "leaflet";
import axios from "axios";
import { onMounted, ref } from "@vue/runtime-core";

export default {
  name: "Home",
  components: {
    IpInfo,
  },
  setup() {
    let myMap;
    const query = ref("");
    const ipinfo = ref(null);

    onMounted(() => {
      myMap = leaflet.map("idMap").setView([51, -0.09], 13);

      leaflet
        .tileLayer(
          `https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=${process.env.VUE_APP_TOKEN}`,
          {
            attribution:
              'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: "mapbox/streets-v11",
            tileSize: 512,
            zoomOffset: -1,
            accessToken: `${process.env.VUE_APP_TOKEN}`,
          }
        )
        .addTo(myMap);
    });

    const getIpInfo = async () => {
      try {
        const response = await axios.get(
          `${process.env.VUE_APP_API}${query.value}`
        );
        const { data } = response;
        ipinfo.value = {
          state: data.location.region,
          address: data.ip,
          timezone: data.location.timezone,
          isp: data.isp,
          lat: data.location.lat,
          lng: data.location.lng,
        };
        leaflet.marker([ipinfo.value.lat, ipinfo.value.lng]).addTo(myMap)
        myMap.setView([ipinfo.value.lat, ipinfo.value.lng], 13);
      } catch (error) {
        console.error(error);
      }
    };

    return { query, ipinfo, getIpInfo };
  },
};
</script>
