<template>
  <div class="flex flex-wrap justify-between">
    <!-- Flex Item #1-->
    <div class="flex flex-col w-full p-5 mx-3 rounded-md shadow-md">
      <h3 class="mb-2 text-xs text-center text-purple-400 uppercase">IP Address</h3>
      <span class="text-2xl text-center">{{ ipinfo.address }}</span>
    </div>
    <!-- Flex Item #2  -->
    <div class="flex flex-col w-full p-5 mx-3 rounded-md shadow-md">
      <h3 class="mb-2 text-xs text-center text-purple-400 uppercase">Location</h3>
      <span class="text-2xl text-center">{{ ipinfo.state }}</span>
    </div>
    <!-- Flex Item #3  -->
    <div class="flex flex-col w-full p-5 mx-3 rounded-md shadow-md">
      <h3 class="mb-2 text-xs text-center text-purple-400 uppercase">Timezone</h3>
      <span class="text-2xl text-center">UTC {{ ipinfo.timezone }}</span>
    </div>
    <!-- Flex Item #4  -->
    <div class="flex flex-col w-full p-5 mx-3 rounded-md shadow-md">
      <h3 class="mb-2 text-xs text-center text-purple-400 uppercase">Isp</h3>
      <span class="text-2xl text-center capitalize">{{ ipinfo.isp }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "IpInfo",
  props: ["ipinfo"],
};
</script>
